<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Bienvenue sur Cloud Wac">
  <title>404</title>
  <link rel="icon" type="image/png" href="[{path}]static/img/favicon.png"/>
  <link href="[{path}]static/Bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="[{path}]static/css/style.css" rel="stylesheet" type="text/css">
  <script src="[{path}]static/js/jquery.js"></script>
  <script src="[{path}]static/Bootstrap/js/bootstrap.js"></script>
  <script src="[{path}]static/js/script.js"></script>
</head>
<body class="error">
<div class="error_content">
	<img class="error_img" src="[{path}]static/img/scared.gif">
	<p class="txt_error">404</p>
	<p>Where... a.. are we..</p>
	<a class="btn btn-danger btn-e" href="[{path}]"> Go Away ! ! !</a>
</div>

</body>
</html>